
/* adding border to image for selected visualization*/
.selected {
  border-style: solid;
  border-color: #333c66;
}

h1 { 
  margin-left: 20px;
  color: #333c66;
}

.container-fluid {
  margin-left: 20px;
}

p {
  margin-left: 20px;  
}

.table-responsive {
  margin-left: 20px;
  background-color: #fafafc;
}

.navbar-brand {
  background-color: #333c66;
  color: aliceblue;
  font-weight: bold;
}

.dropdown-item{
  background-color: #333c66;
  color: aliceblue;
}

.dropdown-menu{
  background-color: #333c66;
  color: aliceblue;
}

.navbarDropdown {
  background-color: #333c66;
  color: aliceblue;
}

.nav-link {
  background-color: #333c66;
  align-items: flex-end;
  color: aliceblue;
}

.navbar {
  background-color: #333c66;
  align-items: flex-end;
  color: aliceblue;
}

thead {
  background-color: #333c66;
  color: aliceblue;
}

body {
  background-color:#f2f2f5;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
    .nav li {
      padding: 10px;
      align-self:flex-end;
      background-color: aliceblue;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .nav ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }
